<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiangxun.activity"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="3">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />
    <!-- 读取机器各种ID的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 关闭该包下的所有应用程序 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS和基站定位访问权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission
        android:name="org.linphone.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Change package ! -->
    <uses-permission android:name="org.linphone.permission.C2D_MESSAGE" />
    <!-- Change package ! -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    Needed to allow Linphone to install on tablets, since android.permission.CALL_PHONE implies
    android.hardware.telephony is required
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Needed to allow Linphone to install on tablets, since android.permission.CAMERA implies android.hardware.camera and android.hardware.camera.autofocus are required -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- Needed to route the audio to the bluetooth headset if available -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Needed to pre fill the wizard email field (only if enabled in custom settings) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.xiangxun.app.XiangXunApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/custome_background">
        <activity
            android:name="com.xiangxun.activity.Welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
                <data android:scheme="sip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sip" />
                <data android:scheme="imto" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="sip" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiangxun.activity.setting.PrintSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.WarnSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.WarnCrossListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.WarnTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.WarnDirectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.SystemSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.SimplePunishNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.IllegalCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.SystemMessageFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.MessageNoticeFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.EnforcementMeasureListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.RegistrationAccidentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.DailyServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.point.ActiveCalling"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.tool.ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.tool.VideoRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.mine.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.WorkloadStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.LawEnforcementListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.WarnAckListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.UpdateVioListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.home.SearchDriverInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.SearchVehicleInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.tool.DataDictionaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.CameraActivity"
            android:label="@string/get_vio_pic"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiangxun.activity.mine.MessageCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.NewMessageCenter"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.LawEnforcementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.Daily.DailyServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.tool.ToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.MainTabActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wintone.plateid.PlateIDCfg"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="wintone.plateidconfig" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="wintone.idcard.android.IDCardBean"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="wintone.idcard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiangxun.activity.setting.ResolutionFontSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.xiangxun.activity.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.xiangxun.activity.AuthVerificationActivity" />
        <activity
            android:name="com.xiangxun.activity.Daily.PublishDailyAffairsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.PublishViolationsNoticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.DailyAffairsDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.ViolationsNoticeDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.SummaryPunishmentDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.EnforcementMeasureDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.LawEnforceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.mine.detail.RegistrationAccidentDetailActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xiangxun.activity.home.PublishEnforceMeasureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.PublishSummaryPunishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.PublishRegistrationAccidentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.Daily.PublishLawEnforceCheckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.VioInfoSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.home.PublishViolationsParkingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.xiangxun.activity.PhotoSelectActivity" />
        <activity android:name="com.xiangxun.activity.setting.AudioSettingActivity" />
        <activity
            android:name="com.xiangxun.activity.setting.VideoSettingActivity"
            android:theme="@style/NoTitle" />

        <service
            android:name="com.xiangxun.service.MQTTService"
            android:enabled="true"></service>
        <service
            android:name="com.wintone.plateid.AuthService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.plateid.authservice" />
            </intent-filter>
        </service>
        <service
            android:name="com.wintone.plateid.RecogService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.plateid.recogService" />
            </intent-filter>
        </service>
        <service android:name="com.xiangxun.service.GpsService" />
        <service android:name="com.xiangxun.service.MainService" />
        <service android:name="com.xiangxun.service.StdPrintService" />
        <service
            android:name="com.xiangxun.service.NoticeOnlineService"
            android:enabled="true" />
        <service
            android:name="com.xiangxun.service.NetworkStateService"
            android:enabled="true" />

        <meta-data
            android:name="TencentMapSDK"
            android:value="IRBBZ-ZLVKQ-Q3K52-G54OP-7CCQ5-KYFYE" />

        LinPhone
        <activity
            android:name="org.linphone.IncomingCallActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.linphone.InCallActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="sensor"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.linphone.setup.SetupActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.linphone.setup.RemoteProvisioningLoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="org.linphone.LinphoneService"
            android:label="@string/service_name"
            android:stopWithTask="false" />

        <receiver android:name="org.linphone.NetworkManager">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.linphone.BluetoothManager"
            android:enabled="false"></receiver>
        <receiver android:name="org.linphone.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="org.linphone.PhoneStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="KeepAliveHandler"></receiver>

        <!-- Needed for push notification -->
        <receiver
            android:name="org.linphone.gcm.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.linphone" />
                <!-- Change package ! -->
            </intent-filter>
        </receiver>

        <service android:name="org.linphone.gcm.GCMService" />

        <activity android:name="org.linphone.tutorials.TutorialLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="org.linphone.tutorials.TutorialBuddyStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="org.linphone.tutorials.TutorialChatRoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="org.linphone.tutorials.TutorialHelloWorldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="org.linphone.tutorials.TutorialRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="wintone.idcard.android.AuthService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.idcard.authService" />
            </intent-filter>
        </service>
        <service
            android:name="wintone.idcard.android.RecogService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.idcard.recogService" />
            </intent-filter>
        </service>
        <service
            android:name="wintone.idcard.android.TimeService"
            android:enabled="true">
            <intent-filter>
                <action android:name="wintone.idcard.TimeService" />
            </intent-filter>
        </service>

        <receiver android:name="wintone.idcard.android.DataChangeReceiver"></receiver>

        <activity
            android:name="com.wintone.plateid.PlateIDBean"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="wintone.plateid" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiangxun.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.setting.SetGuide"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.warn.WarnListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.warn.WarnSignActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.warn.WarnImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.warn.WarnAckActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.activity.warn.WarnActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.xiangxun.wtone.MemoryCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.xiangxun.wtone.IDCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.xiangxun.wtone.IdcardRunner"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
    </application>

</manifest>